<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Jazz Leibur</title>
  </head>
  <body>
    <div class="content grid-container">

      <div class="left">

        <div class="left-content">
              
                <div class="left-personal-content">
                  <img class="profilePic" src="images/ProfileFace1.jpg" alt="">
                  <div class="title">
                    <h1>Hi, I'm Jazz</h1>
                    <h2>Aspiring Software Developer</h2>
                  </div>
                  <div class="contact">
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/jazz-leibur-31011a25b/"><span class="fa fa-linkedin-square"></a>
                    </div>
                    <div  class="email" >
                        <a href="mailto: :leibur.jazz@gmail.com"><span class="fa fa-envelope" aria-hidden="true"></a>
                    </div>
                    <div class="gitHub">
                        <a href="https://github.com/jazzL1?tab=repositories"><span class="fa fa-github" aria-hidden="true"></span></a>
                    </div>
                  </div>
                </div>  
              
        </div>

      </div>

      <div class="right">
        <div class="right-text">
          <div class="intro">
            <h3>Intro</h3>
            <div>
            <p>I am a firm believer in pursuing what you want and being proactive about your goals. This outlook and determination has led me to pursue a career in software development after 8 years of working as a Registered Nurse. I always felt that I had other passions and finally discovered programming after trying out some online courses. I loved it so much that I decided to take the leap in 2021 and enroll in a program full time to gain the skills and experience I needed. I can apply my problem solving, analytical thinking and creativity skills in a way that I was not able to before. 
            </p> <br>
            <p>
              I have experience with Java, C++, JavaScript, HTML and CSS. I am highly interested in both front and back end development and am currently taking courses for full stack web development. I have experience with relational databases and some knowledge with non-relational databases. I am ready to gain industry experience and apply my skills as a member of a development team!
            </p>
            </div>
          </div>
          <div class="education">
            <h3>Education</h3>    
            <div>
              <div class="withDate">
                <div>
                  <strong>Computer Programming And Analysis </strong> <br>
                  <i>Fanshawe College of Applied Arts And Technology - London, ON</i>  <br> 
                  Cumulative GPA: 4.2 / 4.2
                </div>
                <div class="date">
                  Sept. 2021 - Current
                </div>
              </div> 
              <div class="withDate"> 
                <div>
                  <strong>Bachelor of Science in Nursing</strong>  <br> 
                  <i>University of Windsor - Windsor, ON</i>  <br>
                </div>
                <div class="date">
                  Sept. 2011 - May 2015
                </div> 
              </div>
            </div>
          </div>
          <div class="profExp">
            <h3>Professional Experience</h3>
            <div>
              <div class="withDate">  
                <div>
                  <strong>Public Health Registered Nurse </strong> <br>
                  <i>Middlesex-London Health Unit - London, ON</i>  
                  <ul>
                    <li>Attended campaign meetings, took notes and
                      provided accurate updates on projects</li>
                    <li>Worked collaboratively on an
                      interdisciplinary team to accomplish projects according to their
                      deadlines</li>
                    <li>Utilized organization and time management skills in
                      order to work in a patient clinic while completing ongoing projects
                      simultaneously</li>
                  </ul>  
                </div> 
                <div class="date">
                  Jan. 2022 - Current
                </div>  
              </div>
              <div class="withDate">
                <div>
                  <strong>Infection Control Professional </strong> <br>
                  <i>London Health
                    Sciences Center, London, ON</i>
                  <ul>
                    <li>Participated in continuous improvement
                      by generating suggestions and engaging in problem-solving activities
                      to support teamwork</li>
                  </ul>
                    
                </div> 
                <div class="date">
                  Sept. 2020 - Dec. 2022
                </div>  
              </div>
              <div class="withDate">
                <div>
                  <strong>Perioperative Registered Nurse</strong> <br>
                  <i>London Health Sciences Center - London, ON</i>
                </div>
                <div class="date">
                  Jul. 2017 - Sept. 2020
                </div>
              </div>
              <div class="withDate">
                <div>
                 <strong>Perioperative Registered Nurse</strong> <br>
                 <i>Toronto Western
                  Hospital, Toronto, ON </i> 
                  <ul>
                    <li>Worked on a quality improvement project
                      which required data collection, research, collaboration and teaching</li>
                  </ul> 
                </div>
                <div class="date">
                  Sept. 2015 - Aug. 2017
                </div>
              </div>
            </div>
          </div>
          <div class="languages">
            <h3>Languages</h3>
            <div>Java, C++, JavaScript, HTML, CSS, SQL</div>
          </div>
          <div class="skills">
            <h3>Skills</h3>
            <div>
              Version Control - Git <br> Proficient with Visual Studio, Eclipse, VS
              Code SQL Server <br> Node.js
            </div>
          </div>
          <div class="projects">
            <h3>Projects</h3>
            <div class="innerProjects">
              <img src="images/toDo.jpg" alt="" class="projectThumbnail">
                <h4 class="projectTitle">To Do List</h4>
                <p class="projectDesc">This is an ongoing project in which I implement a to-do list using node, express and mongodb. To-do items have full CRUD, while keeping RESTful API calls in mind. A user can register for the 
                  application and create a to-do list that is associated with them, and to-do items will be saved when the user logs in again. I implemented authorization using the passport package and database schemas were created using mongoose. 
                </p>
                <br>
                <p>Click <a href="/toDo" class="projectLink" target="_blank">HERE</a> to start your own list</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
