body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 28px;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
}

h3 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
}

ul {
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-gap: 0;
  height: 100vh;
  grid-template-columns: 35% 65%;
}

.left {
  background-image: linear-gradient(
      rgba(83, 81, 81, 0.7),
      rgba(47, 46, 46, 0.7)
    ),
    url("images/bgImage.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}

.left-content {
  position: sticky;
  top: 30%;
}

.left-personal-content {
  color: aliceblue;
  padding: 2%;
  text-align: center;
}

.profilePic {
  box-shadow: 2px 2px rgb(0, 0, 0);
  border-radius: 5%;
  height: 200px;
  margin-bottom: 20px;
}

.contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.linkedin,
.email, .gitHub {
  width: 50px;
  height: 50px;
}

.contact span {
  text-decoration: none;
  font-size: 2em;
  color: rgb(240, 248, 255);
  transition: color 0.25s, font-size 0.25s;
}

.contact span:hover {
  color: #f3dad8;
  font-size: 2.2em;
}

.right {
  font-family: "Catamaran", sans-serif;
  color: #454547;
  padding-right: 15%;
  padding-left: 2%;
  padding-top: 3%;
  text-align: left;
  background: linear-gradient(
    rgba(231, 206, 227, 0.494),
    rgba(192, 182, 190, 0.494)
  );
  display: flex;
  align-items: flex-start;
  line-height: 1.5em;
}

.intro,
.education,
.profExp,
.languages,
.skills, .projects {
  display: grid;
  column-gap: 2%;
  grid-template-columns: 19% 79%;
  margin-bottom: 40px;
}

.withDate {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 20px;
}

.date {
  text-align: right;
  font-size: 13px;
}

.projectTitle {
  margin-top: 0;
}

.projectThumbnail {
  float: left;
  margin-right: 20px;
  height: 300px;
  border:solid rgba(47, 46, 46, 0.7) 2px;
  box-shadow: 2px 2px black;
}

.projectLink {
  text-decoration: none;
  color: #9667e0;
  font-weight: bold;
}

@media only screen and (max-width: 1500px) {
  .right {
    padding-right: 8%;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-container {
    display: block;
  }

  .left {
    height: 100vh;
    background-attachment: initial;
  }

  .left-content {
    position: relative;
  }

  .right {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media only screen and (min-width: 100px) and (max-width: 800px) {
  .intro,
  .education,
  .profExp,
  .languages,
  .skills, .projects {
    display: block;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .withDate,
  .intro div,
  .languages div,
  .skills div, .projects div {
    font-size: 0.8em;
  }

  .date {
    font-size: 11px;
  }
}
